@font-face{
    font-family: 'myntra';
    font-weight: normal;
    src: url('/assets/fonts/Assistant-Regular.woff')
}
@font-face{
    font-family: 'myntra';
    font-weight: 700;
    src: url('/assets/fonts/Assistant-Bold.woff')
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'myntra';
}
.footer-wrapper{
    position: relative;
}
.footer-inner{
    position: relative;
    z-index: 5;
    padding:30px 0 40px 0px;
     background: #FAFBFC; 
    /* background-color:yellow; */
}
.desktop-footer{
    max-width:1080px;
    margin:auto;
    min-width: 980px;
    display: block;
}
.footer-footer{
    padding:20px 0 60px;
    color:#535766;
    width:100%;
    text-align: justify;
    /* margin-top: 1px; */
}
.footer-right{
    font-size: 12px;
    float: right;
    padding-left: 30px;
    max-width: 410px;
}
.footer-right-title{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color:#696b79;
    font-size: 16px;
    margin-bottom: -10px;
    margin-top: 30px;
    /* margin-left: -29px; */
}
.footer-right-table{
    margin-top: 40px;
    /* margin-left: -30px; */
    border-collapse: collapse;
    box-sizing: content-box;
    margin-right: 3px;
 }
.footer-right-table th,
.footer-right-table td{
    padding: 8px;
    text-align: left;
    /* line-height: 1.45; */
} 
.date-last-update{
    font-style: italic;
    padding:10px 0 0 6px;
    font-weight: 700;
    box-sizing: content-box;
}
.buy-men-tshirt{
    text-transform: uppercase;
    font-size: 16px;
    color:#696b79;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: -10px;
    box-sizing: content-box;
    /* margin-left: -30px; */
}
.footer-left{
    font-size: 14px;
    line-height: 1.5;
    margin:20px 0;
    color:#7e818c;
    width: 61%;
    box-sizing: content-box;
}
.para-header{
    margin-top: 0;
    color:#696b79;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 14px;
    box-sizing: content-box;
}
.para-one,
.para-two,
.para-three,
.side-head,.para-four,.para-five,.para-six,.para-seven,
.para-eight,.para-nine,.para-ten,.para-eleven,.para-twelve,
.para-thirteen,.para-fourteen
{
    margin: 14px 0;
}
.para-empty{
    margin-bottom: 14px;
}
.para-link{
    text-decoration: none;
    font-weight: 700;
    color:#7e818c;
}
/* .footer-list{
    
} */
 .footer-list-header{
    margin-bottom: -10px;
    margin-top:30px;
 }
li::marker{
  text-align: start;
  text-align-last: auto;  
}
.footer-list strong{
    color:#696b79;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.footer-list-header{
    margin-top: 30px;
   margin-bottom: -10px;
}
.empty-empty{
    margin: 14px 0;
}
.footer-para-one{
    margin-bottom: 14px;
}
.item-two .footer-para-one{
    margin: 0;
}
.item-three .footer-para-one{
    margin:0;
}
.best-seller-head{
  margin-bottom: -10px;
  margin-top: 30px;
  color:#696b79;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-top: 42px;
}
.best-seller-head-two{
    margin:14px 0;
    height: 21px;
}
.footer-para-alpha{
    margin:14px 0;
}
.video-container{
    width: 560px;
    height: 315px;
    background-color: rgb(155, 23,34);
}
.footer-video h3{
    margin-top: 30px;
    margin-bottom: -10px;
}
.video-description{
 margin-top: 6px;
} 
.footer-video-para{
    margin-top: 5px;
    margin-bottom: 14px;
}
.footer-general{
    /* margin-top: 1px ; */
    margin-bottom: 24px;
    box-sizing: content-box;
     /* transform: translateY(-.01px); */
    /* margin-top: .3px; */
}
.footer-general::after {
  content: "";
  display: table;
  clear: both;
}
.shop-link{
    float:left;
    width: 155px;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    box-sizing: content-box;
}
.footer-general-head{
    margin:12px 0;
    font-size: 12px;
    font-weight: 700;
    color:#282c3f
}
.footer-general a{
    color:#696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    line-height: normal;
    cursor: pointer;
    box-sizing: content-box;
}
.footer-general-item{
     padding-top: 14px;
}
.customer-link{
    width:15%;
    float: left;
}
.icon-link{
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    width: 360px;
    font-size: 15px;
    line-height: 19px;
    float: left;
    padding-top: 13px;
    box-sizing: content-box;
}
.icon-link-head{
  font-weight: 700;
  color:#282c3f;
  margin: -3px 0 0;
  padding:0 0 25px;
  font-size: 12px;  
  box-sizing: content-box;
}
.icon-container{
    display: inline-block;
    box-sizing: content-box;
}
.icon-link .playstore-link,
.icon-link .appstore-link{
    display: inline;
}
.playstore-link img,
.appstore-link img{
height: 41.8px;
margin-right: 10px;
box-sizing: content-box;
}
.appstore-link{
    margin-left: -2.3px;
}
.keep-in-touch-head{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 20px;
    box-sizing: content-box;
}
.icon-link .icon-icon{
    display: inline-block;
    margin: 0 12px 0 0;
    /* width: 20px; */
    /* height: 21px;  */
    /* box-sizing: content-box; */
     padding-bottom: 0; 
     box-sizing: content-box;
}
/* .facebook{
    height: 21px;
    line-height: 19px;
} 
.twitter{
    height: 24.6px;
} */
.facebook img,
.twitter img{
    width:20px;
    height: 20px;
}
.youtube img{
  width:28px;
  height: 20px;
}
.instagram img{
    width: 20px;
    height: 22px;
    position: relative;
    /* top:1; */
    /* bottom: -1; */
}
.myntra-policy{
    width:250px;
    float:left;
}
.myntra-original{
    margin: 15px 0 30px;
    color:#696b79
}
.original-image{
    display: inline-block;
    float: left;
    margin-left: -10px;
    margin-right: 10px;
    width: 47.5px;
    height: 40px;
}
.original-image img{
    width:48px;
    height: 40px;
}
.myntra-origianl-text strong{
    color:#282c3f;
    font-weight: 700;
}
.myntra-return img{
   height: 49px;
   width: 48px; 
}
.popular-search hr{
  border:1px;
  height: 1px;
  background-color: #eaeaec;
  /* box-sizing: content-box; */
}
.popular-title{
    position: absolute;
    margin-top: -7px;
    background: #fafbfc;
    padding-right: 10px;
    color:#282c3f;
    font-size: 12px;
    font-weight: 700;
    /* box-sizing: content-box; */
    /* padding-bottom: 35px; */
}
.search-link{
    margin-top: 30px;
}
.link-one{
    text-decoration: none;
    color:#696b79;
    font-size: 15px;
    line-height: 25px;
}
.link-one::after{
    content: " | ";
    margin-left: 3px;
}
.link-one:last-child::after{
    content: "";
}
.copy-right{
    display: flex;
    width: 100%;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;

}
.copy-right-contact{
    flex:1;
    color:#696b79;
}
.contact-us-text{
    text-decoration: none;
    font-weight: 700;
    color:#526cd0;
}
.copy-right-copy{
    box-sizing: content-box;
    flex:1;
    color:#94969f;
    margin-left: 100px;
}
.flipkart-link{
    flex:1;
    text-align: end;
}
.flip-link{
    color:#94969f;
    text-decoration: none;
}
.para-header{
    height: 21px;
}
