@font-face{
    font-family: 'myntra';
    font-weight: normal;
    src: url('/assets/fonts/Assistant-Regular.woff')
}
@font-face{
    font-family: 'myntra';
    font-weight: 700;
    src: url('/assets/fonts/Assistant-Bold.woff')
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'myntra';
}
/* .page{

} */
.page-list{
    list-style: none;
    text-align: center;
    border-top:1px solid #edebef;
    padding-top:24px;
    padding-bottom: 60px;
    color:#282c3f;
    margin: 1em 0px;
}
.page-item{
    display: inline-block;
    margin-right: 9px;
    font-weight: 700;
    cursor: pointer;
    padding:6px 8px;
    border-radius: 2px;
}
.page-one{
    pointer-events: none;
    opacity: 0.6;
}
.double-arrow{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 8px;
    margin-right: 8px;
}
.double-arrow::before{
    content:"";
    position: absolute;
    left: 0;
    top:0;
    width:8px;
    height: 8px;
    border:solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(224deg);
}
.double-arrow::after{
    left:8px;
    content:"";
    position: absolute;
    top:0;
    width:8px;
    height: 8px;
    border:solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(224deg);
}
.prev-page{
    height: 42px;
    border-radius: 4px;
    border:1px solid #d4d5d9;
    text-align: center;
    margin-right: 64px;
    padding:10px 22px;
    color:#282c3f;
    opacity: .6;
}
.single-arrow{
    margin-right: 8px;
    transform: rotate(224deg);
    margin-left: 2px;
    display: inline-block;
    width:8px;
    height: 8px;
    border:solid #282c3f;
    border-width: 2px 2px 0 0;
    margin-bottom: 1px;
}
.from-page-to{
    display: inline-block;
    color:#535766;
    font-size: 14px;
    margin-top:6px;
    margin-right: 10px;
    font-weight: 400;
    padding: 6px 8px;
}
.page-next{
    height: 42px;
    border-radius: 4px;
    border:1px solid #d4d5d9;
    text-align: center;
    margin-left: 64px;
    padding:10px 22px;
}
.right-arrow{
    display: inline-block;
    width:8px;
    height: 8px;
    border:solid #282c3f;
    border-width: 2px 2px 0 0;
    margin-bottom:1px;
    margin-left: 8px;
    transform: rotate(45deg);
    margin-right: 2px;
}